flow2/flow2.json
[{"id":"446be086.b3786","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ca3272b4.ff71e","type":"inject","z":"446be086.b3786","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$random()*100","payloadType":"jsonata","x":120,"y":240,"wires":[["41217433.13337c"]]},{"id":"d9027054.24d8","type":"debug","z":"446be086.b3786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":140,"wires":[]},{"id":"41217433.13337c","type":"switch","z":"446be086.b3786","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"str"},{"t":"gt","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":240,"wires":[["95c72c9.732dfd"],["e4105191.de80c"]]},{"id":"a2f83474.7027e8","type":"debug","z":"446be086.b3786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":380,"wires":[]},{"id":"95c72c9.732dfd","type":"function","z":"446be086.b3786","name":"mensagem frio","func":"\nvar temperatura = msg.payload;\n\nmsg.topic = 'Alerta'\nmsg.payload = `Nem parece Recife a essa temperatura! A temperatura é ${temperatura}`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":180,"wires":[["d9027054.24d8","854f26b3.245bc8"]]},{"id":"e4105191.de80c","type":"function","z":"446be086.b3786","name":"mensagem calor","func":"var temperatura = msg.payload;\n\nmsg.payload = `Que calor! A temperatura é ${temperatura}`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":300,"wires":[["a2f83474.7027e8"]]},{"id":"854f26b3.245bc8","type":"e-mail","z":"446be086.b3786","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":720,"y":220,"wires":[]}]